@import "./variables.scss";

body,
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: $text_style;

  &.modal-open {
    overflow: hidden;
  }

  @media (max-width: 250px) {
    word-break: break-word;

    span,
    li,
    label {
      overflow-wrap: anywhere;
    }
  }
}

h1,
h2,
h3 {
  font-family: $title_style;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

@keyframes artisanDetailsGrow {
  from {
    max-height: 0;
  }

  to {
    max-height: calc(100vh - 100px);
  }
}

@keyframes artisanDetailsShrink {
  from {
    max-height: calc(100vh - 100px);
  }

  to {
    max-height: 0;
  }
}
