@import "./variables.scss";

body,
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: $text_style;

  @media (max-width: 250px) {
    word-break: break-word;

    span,
    li,
    label {
      overflow-wrap: anywhere;
    }
  }
}

h1,
h2,
h3 {
  font-family: $title_style;
}

@keyframes growHeight {
  from {
    max-height: 0;
  }

  to {
    max-height: calc(100vh - 100px);
  }
}

@keyframes lowerHeight {
  from {
    max-height: calc(100vh - 100px);
  }

  to {
    max-height: 0;
  }
}
